Repository njdifiore91/earth-1-lw8d0p, changes with the owners that .github/CODEOWNERS names for each.
All owners: @matter/core-team, @matter/security-team, @matter/backend-team, @matter/geospatial-team, @matter/optimization-team, @matter/visualization-team, @matter/frontend-team, @matter/devops-team, @matter/platform-team, @matter/qa-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/src/config/earthn_config.py
  src/backend/planning-service/src/config/earthn_config.py
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/src/config/redis_config.py
  src/backend/planning-service/src/config/redis_config.py
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/src/controllers/optimization_controller.py
  src/backend/planning-service/src/controllers/optimization_controller.py
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/src/controllers/planning_controller.py
  src/backend/planning-service/src/controllers/planning_controller.py
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/src/models/asset.py
  src/backend/planning-service/src/models/asset.py
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/src/models/collection_plan.py
  src/backend/planning-service/src/models/collection_plan.py
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/src/models/requirement.py
  src/backend/planning-service/src/models/requirement.py
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/src/schemas/asset_schema.py
  src/backend/planning-service/src/schemas/asset_schema.py
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/src/schemas/plan_schema.py
  src/backend/planning-service/src/schemas/plan_schema.py
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/src/services/earthn_service.py
  src/backend/planning-service/src/services/earthn_service.py
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/src/services/optimization_service.py
  src/backend/planning-service/src/services/optimization_service.py
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/src/services/planning_service.py
  src/backend/planning-service/src/services/planning_service.py
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/src/utils/calculation_utils.py
  src/backend/planning-service/src/utils/calculation_utils.py
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/tests/test_optimization.py
  src/backend/planning-service/tests/test_optimization.py
Owners: @matter/qa-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/tests/test_planning.py
  src/backend/planning-service/tests/test_planning.py
Owners: @matter/qa-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/Dockerfile
  src/backend/search-service/Dockerfile
Owners: @matter/backend-team, @matter/geospatial-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/README.md
  src/backend/search-service/README.md
Owners: @matter/backend-team, @matter/geospatial-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/pyproject.toml
  src/backend/search-service/pyproject.toml
Owners: @matter/backend-team, @matter/geospatial-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/src/__init__.py
  src/backend/search-service/src/__init__.py
Owners: @matter/backend-team, @matter/geospatial-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/src/app.py
  src/backend/search-service/src/app.py
Owners: @matter/backend-team, @matter/geospatial-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/src/config/database.py
  src/backend/search-service/src/config/database.py
Owners: @matter/backend-team, @matter/geospatial-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/src/config/redis_config.py
  src/backend/search-service/src/config/redis_config.py
Owners: @matter/backend-team, @matter/geospatial-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/src/controllers/location_controller.py
  src/backend/search-service/src/controllers/location_controller.py
Owners: @matter/backend-team, @matter/geospatial-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/src/controllers/search_controller.py
  src/backend/search-service/src/controllers/search_controller.py
Owners: @matter/backend-team, @matter/geospatial-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/src/models/location.py
  src/backend/search-service/src/models/location.py
Owners: @matter/backend-team, @matter/geospatial-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/src/models/search.py
  src/backend/search-service/src/models/search.py
Owners: @matter/backend-team, @matter/geospatial-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/src/schemas/location_schema.py
  src/backend/search-service/src/schemas/location_schema.py
Owners: @matter/backend-team, @matter/geospatial-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/src/schemas/search_schema.py
  src/backend/search-service/src/schemas/search_schema.py
Owners: @matter/backend-team, @matter/geospatial-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/src/services/geocoding_service.py
  src/backend/search-service/src/services/geocoding_service.py
Owners: @matter/backend-team, @matter/geospatial-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/src/services/search_service.py
  src/backend/search-service/src/services/search_service.py
Owners: @matter/backend-team, @matter/geospatial-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/src/utils/spatial_utils.py
  src/backend/search-service/src/utils/spatial_utils.py
Owners: @matter/backend-team, @matter/geospatial-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/tests/test_location_service.py
  src/backend/search-service/tests/test_location_service.py
Owners: @matter/qa-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/search-service/tests/test_search_service.py
  src/backend/search-service/tests/test_search_service.py
Owners: @matter/qa-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/shared/database/migrations/001_initial_schema.sql
  src/backend/shared/database/migrations/001_initial_schema.sql
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/shared/database/migrations/002_spatial_extensions.sql
  src/backend/shared/database/migrations/002_spatial_extensions.sql
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/shared/database/migrations/003_user_tables.sql
  src/backend/shared/database/migrations/003_user_tables.sql
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/shared/database/migrations/004_search_tables.sql
  src/backend/shared/database/migrations/004_search_tables.sql
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/shared/openapi/auth-service.yaml
  src/backend/shared/openapi/auth-service.yaml
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/shared/openapi/planning-service.yaml
  src/backend/shared/openapi/planning-service.yaml
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/shared/openapi/search-service.yaml
  src/backend/shared/openapi/search-service.yaml
Owners: @matter/core-team

.github/CODEOWNERS:

# Version: 1.0.0
# Last Updated: 2024

# Default ownership - Core team must review all changes
*                                   @matter/core-team

# Backend Services
# Auth service requires security team review for OAuth 2.0 and JWT implementation
src/backend/auth-service/**         @matter/security-team @matter/backend-team

# Search service with geospatial expertise requirements
src/backend/search-service/**       @matter/backend-team @matter/geospatial-team

# Planning service with optimization algorithm expertise
src/backend/planning-service/**     @matter/backend-team @matter/optimization-team

# Visualization service requiring WebGL and D3.js expertise
src/backend/visualization-service/** @matter/backend-team @matter/visualization-team

# Frontend Application
src/web/**                         @matter/frontend-team

# Infrastructure Configuration
infrastructure/**                  @matter/devops-team
infrastructure/kubernetes/**       @matter/devops-team @matter/platform-team
infrastructure/terraform/**        @matter/devops-team @matter/platform-team

# CI/CD Workflows requiring security review
.github/workflows/**              @matter/devops-team @matter/security-team

# Test Suites
src/backend/**/tests/**          @matter/qa-team @matter/backend-team
src/web/**/tests/**              @matter/qa-team @matter/frontend-team

# Security-sensitive paths requiring additional reviews
# Auth service changes require 2 security team approvals
src/backend/auth-service/**       @matter/security-team @matter/backend-team
/SECURITY_SENSITIVE_PATHS=2/

# CI/CD workflow changes require 2 security team approvals
.github/workflows/**              @matter/devops-team @matter/security-team
/SECURITY_SENSITIVE_PATHS=2/

# Infrastructure changes require 2 platform team approvals
infrastructure/terraform/**       @matter/devops-team @matter/platform-team
/SECURITY_SENSITIVE_PATHS=2/
