Repository njdifiore91/earth-1-lw8d0p, changes with the owners that .github/CODEOWNERS names for each.
All owners: @matter/core-team, @matter/security-team, @matter/backend-team, @matter/geospatial-team, @matter/optimization-team, @matter/visualization-team, @matter/frontend-team, @matter/devops-team, @matter/platform-team, @matter/qa-team

.github/CODEOWNERS:

# Version: 1.0.0
# Last Updated: 2024

# Default ownership - Core team must review all changes
*                                   @matter/core-team

# Backend Services
# Auth service requires security team review for OAuth 2.0 and JWT implementation
src/backend/auth-service/**         @matter/security-team @matter/backend-team

# Search service with geospatial expertise requirements
src/backend/search-service/**       @matter/backend-team @matter/geospatial-team

# Planning service with optimization algorithm expertise
src/backend/planning-service/**     @matter/backend-team @matter/optimization-team

# Visualization service requiring WebGL and D3.js expertise
src/backend/visualization-service/** @matter/backend-team @matter/visualization-team

# Frontend Application
src/web/**                         @matter/frontend-team

# Infrastructure Configuration
infrastructure/**                  @matter/devops-team
infrastructure/kubernetes/**       @matter/devops-team @matter/platform-team
infrastructure/terraform/**        @matter/devops-team @matter/platform-team

# CI/CD Workflows requiring security review
.github/workflows/**              @matter/devops-team @matter/security-team

# Test Suites
src/backend/**/tests/**          @matter/qa-team @matter/backend-team
src/web/**/tests/**              @matter/qa-team @matter/frontend-team

# Security-sensitive paths requiring additional reviews
# Auth service changes require 2 security team approvals
src/backend/auth-service/**       @matter/security-team @matter/backend-team
/SECURITY_SENSITIVE_PATHS=2/

# CI/CD workflow changes require 2 security team approvals
.github/workflows/**              @matter/devops-team @matter/security-team
/SECURITY_SENSITIVE_PATHS=2/

# Infrastructure changes require 2 platform team approvals
infrastructure/terraform/**       @matter/devops-team @matter/platform-team
/SECURITY_SENSITIVE_PATHS=2/

Add public-samples/earth-1-lw8d0p/src/backend/shared/openapi/visualization-service.yaml
  src/backend/shared/openapi/visualization-service.yaml
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/visualization-service/Dockerfile
  src/backend/visualization-service/Dockerfile
Owners: @matter/backend-team, @matter/visualization-team

Add public-samples/earth-1-lw8d0p/src/backend/visualization-service/package.json
  src/backend/visualization-service/package.json
Owners: @matter/backend-team, @matter/visualization-team

Add public-samples/earth-1-lw8d0p/src/backend/visualization-service/tsconfig.json
  src/backend/visualization-service/tsconfig.json
Owners: @matter/backend-team, @matter/visualization-team

Add public-samples/earth-1-lw8d0p/src/backend/visualization-service/src/app.ts
  src/backend/visualization-service/src/app.ts
Owners: @matter/backend-team, @matter/visualization-team

Add public-samples/earth-1-lw8d0p/src/backend/visualization-service/src/config/database.config.ts
  src/backend/visualization-service/src/config/database.config.ts
Owners: @matter/backend-team, @matter/visualization-team

Add public-samples/earth-1-lw8d0p/src/backend/visualization-service/src/controllers/visualization.controller.ts
  src/backend/visualization-service/src/controllers/visualization.controller.ts
Owners: @matter/backend-team, @matter/visualization-team

Add public-samples/earth-1-lw8d0p/src/backend/visualization-service/src/interfaces/visualization.interface.ts
  src/backend/visualization-service/src/interfaces/visualization.interface.ts
Owners: @matter/backend-team, @matter/visualization-team

Add public-samples/earth-1-lw8d0p/src/backend/visualization-service/src/models/result.model.ts
  src/backend/visualization-service/src/models/result.model.ts
Owners: @matter/backend-team, @matter/visualization-team

Add public-samples/earth-1-lw8d0p/src/backend/visualization-service/src/routes/visualization.routes.ts
  src/backend/visualization-service/src/routes/visualization.routes.ts
Owners: @matter/backend-team, @matter/visualization-team

Add public-samples/earth-1-lw8d0p/src/backend/visualization-service/src/services/d3.service.ts
  src/backend/visualization-service/src/services/d3.service.ts
Owners: @matter/backend-team, @matter/visualization-team

Add public-samples/earth-1-lw8d0p/src/backend/visualization-service/src/services/export.service.ts
  src/backend/visualization-service/src/services/export.service.ts
Owners: @matter/backend-team, @matter/visualization-team

Add public-samples/earth-1-lw8d0p/src/backend/visualization-service/src/utils/format.utils.ts
  src/backend/visualization-service/src/utils/format.utils.ts
Owners: @matter/backend-team, @matter/visualization-team

Add public-samples/earth-1-lw8d0p/src/backend/visualization-service/tests/visualization.test.ts
  src/backend/visualization-service/tests/visualization.test.ts
Owners: @matter/qa-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/web/.dockerignore
  src/web/.dockerignore
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/.env.development
  src/web/.env.development
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/.env.production
  src/web/.env.production
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/.env.test
  src/web/.env.test
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/.prettierrc
  src/web/.prettierrc
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/Dockerfile
  src/web/Dockerfile
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/README.md
  src/web/README.md
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/index.html
  src/web/index.html
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/package.json
  src/web/package.json
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/src/assets/images/logo.svg
  src/web/src/assets/images/logo.svg
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/src/assets/images/markers/satellite.svg
  src/web/src/assets/images/markers/satellite.svg
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/src/assets/images/markers/target.svg
  src/web/src/assets/images/markers/target.svg
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/src/assets/styles/global.css
  src/web/src/assets/styles/global.css
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/src/assets/styles/map.css
  src/web/src/assets/styles/map.css
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/src/assets/styles/theme.css
  src/web/src/assets/styles/theme.css
Owners: @matter/frontend-team

Add public-samples/earth-1-lw8d0p/src/web/src/components/common/Alert/Alert.test.tsx
  src/web/src/components/common/Alert/Alert.test.tsx
Owners: @matter/frontend-team
