Repository njdifiore91/earth-1-lw8d0p, changes with the owners that .github/CODEOWNERS names for each.
All owners: @matter/core-team, @matter/security-team, @matter/backend-team, @matter/geospatial-team, @matter/optimization-team, @matter/visualization-team, @matter/frontend-team, @matter/devops-team, @matter/platform-team, @matter/qa-team

Add public-samples/earth-1-lw8d0p/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/README.md
  src/backend/README.md
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/package.json
  src/backend/package.json
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/poetry.lock
  src/backend/poetry.lock
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/api-gateway/src/app.ts
  src/backend/api-gateway/src/app.ts
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/api-gateway/src/config/gateway.config.ts
  src/backend/api-gateway/src/config/gateway.config.ts
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/api-gateway/src/config/rate-limit.config.ts
  src/backend/api-gateway/src/config/rate-limit.config.ts
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/api-gateway/src/middleware/auth.middleware.ts
  src/backend/api-gateway/src/middleware/auth.middleware.ts
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/api-gateway/src/middleware/error.middleware.ts
  src/backend/api-gateway/src/middleware/error.middleware.ts
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/api-gateway/src/middleware/logging.middleware.ts
  src/backend/api-gateway/src/middleware/logging.middleware.ts
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/api-gateway/src/routes/index.ts
  src/backend/api-gateway/src/routes/index.ts
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/api-gateway/src/utils/error.utils.ts
  src/backend/api-gateway/src/utils/error.utils.ts
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/api-gateway/tests/gateway.test.ts
  src/backend/api-gateway/tests/gateway.test.ts
Owners: @matter/qa-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/auth-service/Dockerfile
  src/backend/auth-service/Dockerfile
Owners: @matter/security-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/auth-service/package.json
  src/backend/auth-service/package.json
Owners: @matter/security-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/auth-service/tsconfig.json
  src/backend/auth-service/tsconfig.json
Owners: @matter/security-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/auth-service/src/app.ts
  src/backend/auth-service/src/app.ts
Owners: @matter/security-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/auth-service/src/config/auth.config.ts
  src/backend/auth-service/src/config/auth.config.ts
Owners: @matter/security-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/auth-service/src/config/database.config.ts
  src/backend/auth-service/src/config/database.config.ts
Owners: @matter/security-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/auth-service/src/config/redis.config.ts
  src/backend/auth-service/src/config/redis.config.ts
Owners: @matter/security-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/auth-service/src/controllers/auth.controller.ts
  src/backend/auth-service/src/controllers/auth.controller.ts
Owners: @matter/security-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/auth-service/src/interfaces/auth.interface.ts
  src/backend/auth-service/src/interfaces/auth.interface.ts
Owners: @matter/security-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/auth-service/src/middleware/auth.middleware.ts
  src/backend/auth-service/src/middleware/auth.middleware.ts
Owners: @matter/security-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/auth-service/src/models/user.model.ts
  src/backend/auth-service/src/models/user.model.ts
Owners: @matter/security-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/auth-service/src/routes/auth.routes.ts
  src/backend/auth-service/src/routes/auth.routes.ts
Owners: @matter/security-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/auth-service/src/services/auth.service.ts
  src/backend/auth-service/src/services/auth.service.ts
Owners: @matter/security-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/auth-service/src/utils/jwt.utils.ts
  src/backend/auth-service/src/utils/jwt.utils.ts
Owners: @matter/security-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/auth-service/tests/auth.test.ts
  src/backend/auth-service/tests/auth.test.ts
Owners: @matter/security-team, @matter/backend-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/Dockerfile
  src/backend/planning-service/Dockerfile
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/README.md
  src/backend/planning-service/README.md
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/pyproject.toml
  src/backend/planning-service/pyproject.toml
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/src/__init__.py
  src/backend/planning-service/src/__init__.py
Owners: @matter/backend-team, @matter/optimization-team

Add public-samples/earth-1-lw8d0p/src/backend/planning-service/src/app.py
  src/backend/planning-service/src/app.py
Owners: @matter/backend-team, @matter/optimization-team

.github/CODEOWNERS:

# Version: 1.0.0
# Last Updated: 2024

# Default ownership - Core team must review all changes
*                                   @matter/core-team

# Backend Services
# Auth service requires security team review for OAuth 2.0 and JWT implementation
src/backend/auth-service/**         @matter/security-team @matter/backend-team

# Search service with geospatial expertise requirements
src/backend/search-service/**       @matter/backend-team @matter/geospatial-team

# Planning service with optimization algorithm expertise
src/backend/planning-service/**     @matter/backend-team @matter/optimization-team

# Visualization service requiring WebGL and D3.js expertise
src/backend/visualization-service/** @matter/backend-team @matter/visualization-team

# Frontend Application
src/web/**                         @matter/frontend-team

# Infrastructure Configuration
infrastructure/**                  @matter/devops-team
infrastructure/kubernetes/**       @matter/devops-team @matter/platform-team
infrastructure/terraform/**        @matter/devops-team @matter/platform-team

# CI/CD Workflows requiring security review
.github/workflows/**              @matter/devops-team @matter/security-team

# Test Suites
src/backend/**/tests/**          @matter/qa-team @matter/backend-team
src/web/**/tests/**              @matter/qa-team @matter/frontend-team

# Security-sensitive paths requiring additional reviews
# Auth service changes require 2 security team approvals
src/backend/auth-service/**       @matter/security-team @matter/backend-team
/SECURITY_SENSITIVE_PATHS=2/

# CI/CD workflow changes require 2 security team approvals
.github/workflows/**              @matter/devops-team @matter/security-team
/SECURITY_SENSITIVE_PATHS=2/

# Infrastructure changes require 2 platform team approvals
infrastructure/terraform/**       @matter/devops-team @matter/platform-team
/SECURITY_SENSITIVE_PATHS=2/
