Repository njdifiore91/earth-1-lw8d0p, changes with the owners that .github/CODEOWNERS names for each.
All owners: @matter/core-team, @matter/security-team, @matter/backend-team, @matter/geospatial-team, @matter/optimization-team, @matter/visualization-team, @matter/frontend-team, @matter/devops-team, @matter/platform-team, @matter/qa-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/istio/destinationrule.yaml
  infrastructure/kubernetes/istio/destinationrule.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/istio/gateway.yaml
  infrastructure/kubernetes/istio/gateway.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/istio/virtualservice.yaml
  infrastructure/kubernetes/istio/virtualservice.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/monitoring/elk/deployment.yaml
  infrastructure/kubernetes/monitoring/elk/deployment.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/monitoring/jaeger/deployment.yaml
  infrastructure/kubernetes/monitoring/jaeger/deployment.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/planning-service/deployment.yaml
  infrastructure/kubernetes/planning-service/deployment.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/planning-service/hpa.yaml
  infrastructure/kubernetes/planning-service/hpa.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/planning-service/service.yaml
  infrastructure/kubernetes/planning-service/service.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/search-service/deployment.yaml
  infrastructure/kubernetes/search-service/deployment.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/search-service/hpa.yaml
  infrastructure/kubernetes/search-service/hpa.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/search-service/service.yaml
  infrastructure/kubernetes/search-service/service.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/visualization-service/deployment.yaml
  infrastructure/kubernetes/visualization-service/deployment.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/visualization-service/hpa.yaml
  infrastructure/kubernetes/visualization-service/hpa.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/visualization-service/service.yaml
  infrastructure/kubernetes/visualization-service/service.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/scripts/backup-db.sh
  infrastructure/scripts/backup-db.sh
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/scripts/init-db.sh
  infrastructure/scripts/init-db.sh
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/scripts/rollback.sh
  infrastructure/scripts/rollback.sh
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/scripts/setup-monitoring.sh
  infrastructure/scripts/setup-monitoring.sh
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/aws/cloudfront.tf
  infrastructure/terraform/aws/cloudfront.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/aws/eks.tf
  infrastructure/terraform/aws/eks.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/aws/elasticache.tf
  infrastructure/terraform/aws/elasticache.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/aws/kms.tf
  infrastructure/terraform/aws/kms.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/aws/main.tf
  infrastructure/terraform/aws/main.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/aws/provider.tf
  infrastructure/terraform/aws/provider.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/aws/rds.tf
  infrastructure/terraform/aws/rds.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/aws/route53.tf
  infrastructure/terraform/aws/route53.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/aws/s3.tf
  infrastructure/terraform/aws/s3.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/aws/vpc.tf
  infrastructure/terraform/aws/vpc.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/aws/waf.tf
  infrastructure/terraform/aws/waf.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/modules/kubernetes/main.tf
  infrastructure/terraform/modules/kubernetes/main.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/src/backend/.env.example
  src/backend/.env.example
Owners: @matter/core-team

.github/CODEOWNERS:

# Version: 1.0.0
# Last Updated: 2024

# Default ownership - Core team must review all changes
*                                   @matter/core-team

# Backend Services
# Auth service requires security team review for OAuth 2.0 and JWT implementation
src/backend/auth-service/**         @matter/security-team @matter/backend-team

# Search service with geospatial expertise requirements
src/backend/search-service/**       @matter/backend-team @matter/geospatial-team

# Planning service with optimization algorithm expertise
src/backend/planning-service/**     @matter/backend-team @matter/optimization-team

# Visualization service requiring WebGL and D3.js expertise
src/backend/visualization-service/** @matter/backend-team @matter/visualization-team

# Frontend Application
src/web/**                         @matter/frontend-team

# Infrastructure Configuration
infrastructure/**                  @matter/devops-team
infrastructure/kubernetes/**       @matter/devops-team @matter/platform-team
infrastructure/terraform/**        @matter/devops-team @matter/platform-team

# CI/CD Workflows requiring security review
.github/workflows/**              @matter/devops-team @matter/security-team

# Test Suites
src/backend/**/tests/**          @matter/qa-team @matter/backend-team
src/web/**/tests/**              @matter/qa-team @matter/frontend-team

# Security-sensitive paths requiring additional reviews
# Auth service changes require 2 security team approvals
src/backend/auth-service/**       @matter/security-team @matter/backend-team
/SECURITY_SENSITIVE_PATHS=2/

# CI/CD workflow changes require 2 security team approvals
.github/workflows/**              @matter/devops-team @matter/security-team
/SECURITY_SENSITIVE_PATHS=2/

# Infrastructure changes require 2 platform team approvals
infrastructure/terraform/**       @matter/devops-team @matter/platform-team
/SECURITY_SENSITIVE_PATHS=2/
