Repository njdifiore91/earth-1-lw8d0p, changes with the owners that .github/CODEOWNERS names for each.
All owners: @matter/core-team, @matter/security-team, @matter/backend-team, @matter/geospatial-team, @matter/optimization-team, @matter/visualization-team, @matter/frontend-team, @matter/devops-team, @matter/platform-team, @matter/qa-team

.github/CODEOWNERS:

# Version: 1.0.0
# Last Updated: 2024

# Default ownership - Core team must review all changes
*                                   @matter/core-team

# Backend Services
# Auth service requires security team review for OAuth 2.0 and JWT implementation
src/backend/auth-service/**         @matter/security-team @matter/backend-team

# Search service with geospatial expertise requirements
src/backend/search-service/**       @matter/backend-team @matter/geospatial-team

# Planning service with optimization algorithm expertise
src/backend/planning-service/**     @matter/backend-team @matter/optimization-team

# Visualization service requiring WebGL and D3.js expertise
src/backend/visualization-service/** @matter/backend-team @matter/visualization-team

# Frontend Application
src/web/**                         @matter/frontend-team

# Infrastructure Configuration
infrastructure/**                  @matter/devops-team
infrastructure/kubernetes/**       @matter/devops-team @matter/platform-team
infrastructure/terraform/**        @matter/devops-team @matter/platform-team

# CI/CD Workflows requiring security review
.github/workflows/**              @matter/devops-team @matter/security-team

# Test Suites
src/backend/**/tests/**          @matter/qa-team @matter/backend-team
src/web/**/tests/**              @matter/qa-team @matter/frontend-team

# Security-sensitive paths requiring additional reviews
# Auth service changes require 2 security team approvals
src/backend/auth-service/**       @matter/security-team @matter/backend-team
/SECURITY_SENSITIVE_PATHS=2/

# CI/CD workflow changes require 2 security team approvals
.github/workflows/**              @matter/devops-team @matter/security-team
/SECURITY_SENSITIVE_PATHS=2/

# Infrastructure changes require 2 platform team approvals
infrastructure/terraform/**       @matter/devops-team @matter/platform-team
/SECURITY_SENSITIVE_PATHS=2/

Add public-samples/earth-1-lw8d0p/.github/dependabot.yml
  .github/dependabot.yml
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @matter/devops-team, @matter/security-team

Add public-samples/earth-1-lw8d0p/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @matter/devops-team, @matter/security-team

Add public-samples/earth-1-lw8d0p/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @matter/devops-team, @matter/security-team

Add public-samples/earth-1-lw8d0p/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @matter/core-team

Add public-samples/earth-1-lw8d0p/infrastructure/config/elk/elasticsearch.yml
  infrastructure/config/elk/elasticsearch.yml
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/config/elk/kibana.yml
  infrastructure/config/elk/kibana.yml
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/config/elk/logstash.conf
  infrastructure/config/elk/logstash.conf
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/config/grafana/dashboard.json
  infrastructure/config/grafana/dashboard.json
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/config/grafana/datasource.yml
  infrastructure/config/grafana/datasource.yml
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/config/istio/mesh-config.yaml
  infrastructure/config/istio/mesh-config.yaml
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/config/nginx/nginx.conf
  infrastructure/config/nginx/nginx.conf
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/config/prometheus/prometheus.yml
  infrastructure/config/prometheus/prometheus.yml
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/docker/base.dockerfile
  infrastructure/docker/base.dockerfile
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/docker/node.dockerfile
  infrastructure/docker/node.dockerfile
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/docker/python.dockerfile
  infrastructure/docker/python.dockerfile
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/helm/matter/Chart.yaml
  infrastructure/helm/matter/Chart.yaml
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/helm/matter/values.yaml
  infrastructure/helm/matter/values.yaml
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/helm/matter/templates/_helpers.tpl
  infrastructure/helm/matter/templates/_helpers.tpl
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/helm/matter/templates/deployment.yaml
  infrastructure/helm/matter/templates/deployment.yaml
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/helm/matter/templates/ingress.yaml
  infrastructure/helm/matter/templates/ingress.yaml
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/helm/matter/templates/service.yaml
  infrastructure/helm/matter/templates/service.yaml
Owners: @matter/devops-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/api-gateway/deployment.yaml
  infrastructure/kubernetes/api-gateway/deployment.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/api-gateway/ingress.yaml
  infrastructure/kubernetes/api-gateway/ingress.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/api-gateway/service.yaml
  infrastructure/kubernetes/api-gateway/service.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/auth-service/deployment.yaml
  infrastructure/kubernetes/auth-service/deployment.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/auth-service/hpa.yaml
  infrastructure/kubernetes/auth-service/hpa.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/auth-service/service.yaml
  infrastructure/kubernetes/auth-service/service.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/base/configmap.yaml
  infrastructure/kubernetes/base/configmap.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/base/secret.yaml
  infrastructure/kubernetes/base/secret.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/base/serviceaccount.yaml
  infrastructure/kubernetes/base/serviceaccount.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/cert-manager/certificate.yaml
  infrastructure/kubernetes/cert-manager/certificate.yaml
Owners: @matter/devops-team, @matter/platform-team

Add public-samples/earth-1-lw8d0p/infrastructure/kubernetes/cert-manager/issuer.yaml
  infrastructure/kubernetes/cert-manager/issuer.yaml
Owners: @matter/devops-team, @matter/platform-team
